@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-12 col-lg-6">
        <div id="techShowcase" class="text-center">
            <h1 class="heroTitle">Say goodbye to <span class="text-highlight">Forgetting</span></h1>
            <div class="subtitle">
                Put it in your Rolodex, and say goodbye to forgetting. Contacts, notes, whatever 
                you need to remember, Rolodex has your back.
                <br />
                <br />
                <strong>Built with pride using cutting edge tech:</strong>
                <br />
                <div class="d-flex align-items-center justify-content-center mt-3">
                    @* Show Techs here*@
                    <figure>
                        <img src="https://devicons.railway.app/i/dot-net.svg" class="imgicon" />
                        <figcaption>ASP.NET</figcaption>
                    </figure>
                    <figure>
                        <img src="https://devicons.railway.app/i/csharp.svg" class="imgicon" />
                        <figcaption>C#</figcaption>
                    </figure>
                    <figure>
                        <img src="https://devicons.railway.app/i/postgresql.svg" class="imgicon" />
                        <figcaption>Postgres</figcaption>
                    </figure>
                    <figure>
                        <img src="https://devicons.railway.app/i/bootstrap.svg" class="imgicon" />
                        <figcaption>Bootstrap</figcaption>
                    </figure>
                    <figure>
                        <img src="https://devicons.railway.app/i/railway-dark.svg" class="imgicon" />
                        <figcaption>Railway</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div id="callToAction" class="text-center">
            <a class="btn btn-lg btn-primary rounded-pill px-5 mb-3"
               style="height:min-content"
               asp-controller="Contacts" asp-action="Index">
                Get Started!
            </a>
        </div>
    </div>
    <div class="col-12 col-lg-6 text-center ps-3 pe-5 pb-5">
        <img src="~/img/ROLODEX.png" class="app-logo" />
    </div>
</div>