/* #region Custom File Upload Button*/
.form-control:focus {
    border-color: var(--ce-accentColor);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
}

.custom-file-upload {
    border: 0px;
    border-radius: 25px;
    color: white;
    background-color: var(--ce-accentColorDark);
    display: inline-block;
    padding: 6px 12px;
    font-size: 1rem;
    cursor: pointer;
}

label:hover {
    background-color: var(--ce-accentColor);
}

label:focus-within {
    border: 1px solid;
    border-color: var(--ce-accentColorDark);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
/* #endregion Custom File Upload Button*/
