:root {
    /* default theme */
    --ce-theme-core: #77B8F8;
    --ce-theme-100: hsl(193, 50%, 91%);
    --ce-theme-150: hsl(193, 50%, 86%);
    --ce-theme-200: hsl(193, 50%, 81%);
    --ce-theme-300: hsl(193, 50%, 71%);
    --ce-theme-400: hsl(193, 50%, 61%);
    --ce-theme-500: hsl(193, 50%, 51%);
    --ce-theme-600: hsl(193, 50%, 41%);
    --ce-theme-700: hsl(193, 50%, 31%);
    --ce-theme-800: hsl(193, 50%, 21%);
    --ce-theme-850: hsl(193, 50%, 16%);
    --ce-theme-900: hsl(193, 50%, 11%);
    /* accent theme */
    --ce-accent-core: #f5978f;
    --ce-accent-100: hsl(5, 84%, 91%);
    --ce-accent-150: hsl(5, 84%, 86%);
    --ce-accent-200: hsl(5, 84%, 81%);
    --ce-accent-250: hsl(5, 84%, 76%);
    --ce-accent-300: hsl(5, 84%, 71%);
    --ce-accent-400: hsl(5, 84%, 61%);
    --ce-accent-500: hsl(5, 84%, 51%);
    --ce-accent-600: hsl(5, 84%, 41%);
    --ce-accent-700: hsl(5, 84%, 31%);
    --ce-accent-800: hsl(5, 84%, 21%);
    --ce-accent-850: hsl(5, 84%, 16%);
    --ce-accent-900: hsl(5, 84%, 11%);
    /* general use */
    --ce-primaryColor: var(--ce-theme-core);
    --ce-primaryColorDark: #095CAE;
    --ce-primaryColorLight: #B1D6FB;
    --ce-accentColor: var(--ce-accent-core);
    --ce-accentColorLight: #FACBC7;
    --ce-accentColorDark: #ec4132;
    --ce-dark-color: var(--ce-theme-850);
    --ce-light-gray: #d9d9d9;
    --ce-light-color: #eeeeee;
    --ce-title-font: 'Fira Sans', sans-serif;
    --ce-body-font: 'Roboto', sans-serif;
}

/* #region Sticky Footer */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0
}

/* #endregion Sticky Footer */

body {
    /* fallback for old browsers */
    background-color: var(--ce-theme-100);
    display: flex;
    flex-direction: column;
    color: var(--ce-dark-color);
    font-family: var(--ce-body-font);
    font-weight: 400;
    font-size: 1.2rem;
}

/* #region Element Overrides */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ce-title-font);
    font-weight: 600;
    text-transform: uppercase;
}
/* #endregion Element Overrides*/

/* #region Icons */
.devicons {
    font-size: 4rem;
    padding-left: .5rem;
}

.social-icons {
    font-size: 2rem;
    padding-left: .5rem;
    transition: color 0.5s;
    color: var(--ce-accent-250);
}

    .social-icons:hover {
        color: var(--ce-accent-300)
    }

.imgicon {
    display: inline;
    height: 3.5rem;
    margin: 0rem .3rem;
}

.editIcons {
    font-size: 1.5rem;
    opacity: .9;
    color: var(--cf-primaryColorDark);
}

    .editIcons:hover {
        color: var(--cf-primaryColor);
        font-weight: bold;
        opacity: 1;
        cursor: pointer;
    }
/* #endregion Icons*/

.navbar,
.footer {
    background-color: var(--ce-theme-850);
}

/* Override of Bootstrap Primary Button */
.btn-primary {
    --bs-btn-bg: var(--ce-accent-250);
    --bs-btn-border-color: var(--ce-accent-250);
    --bs-btn-hover-bg: var(--ce-accent-300);
    --bs-btn-hover-border-color: var(--ce-accent-300);
    --bs-btn-active-bg: var(--ce-accent-400);
    --bs-btn-active-border-color: var(--ce-accent-400);
}

.text-accent {
    color: var(--ce-accent-250) !important;
}

.app-logo {
    max-width: 500px;
    max-height: 500px;
}

.checklist i {
    color: var(--ce-accent-250);
    padding-right: .5rem;
}

.heroCard {
    min-height: 100%;
}

.heroTitle {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: var(--ce-title-font);
    font-weight: 600;
}

.texthighlight {
    color: var(--ce-accentColorDark);
}

figcaption {
    color: var(--ce-dark-color);
    font-size: 0.8rem;
    text-align: center;
}

.square-img-container {
    position: relative;
    background-color: var(--ce-theme-100);
    border-color: var(--ce-light-gray);
    border-style: solid;
}

    .square-img-container::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

.square-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.contact-img {
    width: 150px;
    height: 150px;
}

.sideNav {
    border-radius: 25px;
    border-color: var(--ce-accentColor);
    border-style: solid;
    border-width: 3px;
    background-color: var(--ce-accent-250);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: fit-content;
}